html, body {
  height: 100%;
}

.redirect {

  background-image: url("https://downloader.disk.yandex.ru/preview/af6e0a0f289265ce2d7265a42305a7a76071ce9a877883458cb9df1ec5bf8e3d/5e061975/sseMey22Z8tL0guT-UgFf6znBZNf4FaJR73xoe-5MmmmSM9ceFFJqdNhHI1D2TMpwgjwsS4AHNR1xUmeuy4acQ==?uid=0&filename=Untitled_JPEG.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&tknv=v2&owner_uid=34078220&size=2048x2048");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;

}

.redirect .text {
  font-family: monospace;
  color: white;
  background-color: black;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
