html, body {
  height: 100%;
}

.redirect {

  background-image: url("https://sun9-12.userapi.com/c857616/v857616909/13cf18/Q6W-4C82M04.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;

}

.redirect .text {
  font-family: monospace;
  color: white;
  background-color: black;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
