html, body {
  height: 100%;
}

.redirect {

  background-image: url("https://downloader.disk.yandex.ru/preview/fc2cea9619808bc80da61cf279bc5a6f32c31dba1923cb97a834d1f9b02c45ce/5e061861/QezfO9G0xAP3bEL2nwXSuQiNRrVeXK5XSjGu2jR7lqXwYEYwU7rvkRlXJNaFBU723-1qBwnupbkaYJDkI6ak7Q==?uid=0&filename=Untitled4.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&tknv=v2&owner_uid=34078220&size=2048x2048");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;

}

.redirect .text {
  font-family: monospace;
  color: white;
  background-color: black;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
