
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <!-- *************************************
      Navigation Section
    -->
{% include "partials/top_navigation.html" %}
  <body>
  <main>
    <!-- *************************************
      Jumbotron Section
    -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <h1>Aleksey Khromenkov</h1>
        <p>Automation QA Engineer at PROMWAD</p>
        <p>Belarus, Minsk</p>
        <!--
        <p>B.S in Computer Science</p>
        -->
      </div>
    </div>

    <!-- *************************************
      About Me Section
    -->
    <div class="about-me" id="aboutme">
      <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="about-picture">
            </div>
          </div>

          <div class="col-md-8">
            <div class="about-text">
              <h2>About Me</h2>
              <div class="section">
              <p>Hello, my name is Aleksey Khromenkov. A lot of people call me Alex so feel free to call me that. I work as Automation QA Engineer in <a href ="https://promwad.com/"><span style="color: #a32b2c">PROMWAD</span></a> company and I love it.</p>
              <p>I was born and raised up in<a href="https://www.visit-belarus.com/en/visit-minsk/"> Minsk, Belarus</a> and I live here nowadays.</p>
              <p>I like to fill up my life with learning new things,traveling, teaching, and Computer Science.</p>
              <p>I created this site to get some experience with Flask framework for Python and now this place exists as a way to show the things I am working on. As I am always learning new things, this site is always going to be a work in progress.</p>
              <p>Now that you know a little about me. Take a peek around! If you want to go on my LinkedIn or resume click on the buttons below.</p>
              <p>Thank you for visiting!</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- *************************************
      Experiences Section
    -->
    <div class="experiences section id=experiences">
      <div class="container">

        <div class="row">
          <div class="col-md-12">
            <div class="title">
              <h2>Experience</h2>
              <em><p class="project-title"> Get to know my experiences </p></em>

            </div>
          </div>
        </div>

        <div class="row pics">
          <div class="col-md-4">
            <a class="btn btn-outline-primary btn-lg" href="./static/documents/resume/Khromenkov_Aleksey_AQA_CV.pdf" role="button">Resume</a>
          </div>

          <div class="col-md-4">
            <a class="btn btn-outline-primary btn-lg" href="{{ url_for('projects') }}" role="button">Projects</a>
          </div>

          <div class="col-md-4">
            <a class="btn btn-outline-primary btn-lg" href="{{ url_for('experience') }}" role="button">Experiences</a>
          </div>
        </div>

      </div> <!-- End Experiences Container -->
    </div> <!-- End Experiences Section -->

    <!-- *************************************
      Contact Section
    -->
    <div class="contact section">
      <div class="container">

        <div class="row">
          <div class="col-md-12">
            <div class="title">
              <h2> Contacts </h2>
              <em><p class="project-title">Get in touch</p></em>
            </div>
          </div>
        </div>

        <div class="row contact-btns">

          <div class="col-md-2">
            <a class="btn btn-outline-primary fa fa-envelope btn-lg" href="mailto:khromenkov@yandex.ru" role="button"> Email</a>
          </div>

          <div class="col-md-2">
            <a class="btn btn-outline-primary fa fa-github btn-lg" href="https://github.com/alekseyby" role="button" target="_blank"> GitHub</a>
          </div>

          <div class="col-md-2">
            <a class="btn btn-outline-primary fa fa-linkedin btn-lg" href="https://www.linkedin.com/in/aliaksei-khramiankou/" role="button" target="_blank"> LinkedIn</a>
          </div>
        </div>

      </div> <!-- End Contact Container -->
    </div> <!-- End Contact Section -->
    </div>
</main>

  <!-- *************************************
    Footer Section
  -->
  <footer class="footer">
{% include "partials/bottom_navigation.html" %}
  </footer>

  </body>
</html>
