<!DOCTYPE html>
<html lang="en" dir="ltr">
    <!-- *************************************
      Navigation Section
    -->
{% include "partials/top_navigation.html" %}
  <body>
 <main>
   <!-- *************************************
      Jumbotron Section
      -->
   <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
         <h1>Aleksey Khromenkov</h1>
         <p>My Experience</p>
      </div>
   </div>
   <div class="my_experience" id="myexperience">
      <div class="container">
         <div class="row">
            <div class="col-md-4">
               <h2>In Progress</h2>
            </div>
            <div class="col-md-8">
               <div class="about-text">
               </div>
            </div>
         </div>
      </div>
   </div>
</main>

  <!-- *************************************
    Footer Section
  -->
  <footer class="footer">
{% include "partials/bottom_navigation.html" %}
  </footer>

  </body>
</html>