<!DOCTYPE html>
<html lang="en" dir="ltr">
   <!-- *************************************
      Navigation Section
      -->
   {% include "partials/top_navigation.html" %}
   <body>
      <main>
         <!-- *************************************
            Jumbotron Section
            -->
         <div class="jumbotron jumbotron-fluid">
            <div class="container-fluid">
               <h1>Aleksey Khromenkov</h1>
               <p>My Experience</p>
            </div>
         </div>
         <!-- *************************************
            Recent Experience Section
             -->
         <div class="section">
            <div class="container">
               <h2>My Experience:</h2>
               <!-- Current experience-->
               <div class="row recent-proj">
                  <div class="col-md-6">
                     <div class="project-description">
                        <p class="project-title"><em>Nuance Cummunications</em></p>
                        <p>Test Automation Engineer - Contractor</p>
                        <p>Nov 2018 - Present </p>
                        <br>- Designing and supporting multi-browser tests with Robot Framework (Python)
                        <br>- Improving tests stability
                        <br>- Running automated test scripts and reviewing results with Jenkins
                        <br>- Reviewing and analyzing system logs
                        <br>- Code review
                        <br>- Training for teammates to automate tests with Robot Framework
                        <br>- Writing unit tests for Ember.js application
                        <p><strong>Technologies Used:</strong> RobotFramework, Selenium WebDriver, Jenkins, Python, JS, Stash</p>
                     </div>
                  </div>
                  <div class="col-md-6 pics">
                     <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQHheX4I9vYYgA/company-logo_200_200/0?e=1611792000&v=beta&t=F40Ajay8TDlrSFAqNBWtMuU-CBKZe178qEGRNSViH1g" loading="lazy" alt="Nuance Communications">
                  </div>
               </div>
               <div class="row recent-proj">
                  <div class="col-md-6">
                     <div class="project-description">
                        <p class="project-title"><em>TouchSoft</em></p>
                        <p>Quality Assurance Engineer</p>
                        <p>May 2017 - Now 2018 </p>
                        <br>- Regression testing
                        <br>- New features testing
                        <br>- Reporting defects for development teams, working with bug tracking system and specifying severity and priority
                        <br>- Documentation analysis and creating new test cases
                        <br>- Creating and updating test documentation (requirements, test cases, test suites)
                        <br>- Reviewing test cases and test suites
                        <br>- Accessibility testing (Mobile, PC)
                        <br>- Communication with local and remote developers, managers and teammates.
                        <br>- Working with cross-functional teams to ensure quality throughout the software development lifecycle
                        <br>- Running automated test scripts and reviewing results with Jenkins
                        <br>- Reviewing and analyzing system logs, and providing results
                        <p><strong>Tools Used:</strong> REST clients, HeidiSQL, Jenkins, Swagger, Bamboo </p>
                     </div>
                  </div>
                  <div class="col-md-6 pics">
                     <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQEm-BSmdlYBsw/company-logo_200_200/0?e=1611792000&v=beta&t=qSpGO_tE8W4Uu7HpPKq50o6zmJq4DZER5aJ_iwwGRMQ" loading="lazy" alt="TouchSoft">
                  </div>
               </div>
            </div>
         </div>
      </main>
      <!-- *************************************
         Footer Section
         -->
      <footer class="footer">
         {% include "partials/bottom_navigation.html" %}
      </footer>
   </body>
</html>